{% extends 'server/master.html' %}

{% block page_title%}
Каталог
{% endblock %}

{% block page_content%}
            <h1>Каталог</h1>
            <div class="div_flex">            
            <div class="div_item" ><a href="catalog/vobler.html"><img src="/static/main/assets/img_1_pre.jpg" alt=""><br>Воблер</a></div>
            <div class="div_item"><a href="catalog/fishing_line.html"><img src="/static/main/assets/img_2_pre.jpg" alt=""><br>Леска</a></div>
            <div class="div_item"><a href="catalog/Coil_is_spinning-free.html"><img src="/static/main/assets/img_3_pre.jpg" alt=""><br>Катушка безынерционная</a></div>
           </div> 
{% endblock %}