{% extends 'server/master.html' %}

{% block page_title%}
о нас
{% endblock %}

{% block page_content%}
<h2>О&nbsp;магазине</h2>
<p>Наш интернет-магазин создан для всех, кто любит рыбалку, туризм и&nbsp;активный отдых на&nbsp;природе!</p>
<p>Мы&nbsp;сделали процесс выбора и&nbsp;приобретения товаров максимально простым, удобным и&nbsp;выгодным для всех жителей России!
    Мы&nbsp;предлагаем только качественную, оригинальную продукцию самых известных, надежных и&nbsp;проверенных производителей.
    Ассортимент постоянно расширяется и&nbsp;пополняется новинками.</p>
{% endblock %}