<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Каталог</title>
    <link rel="stylesheet" href="/static/main/css/style.css">
</head>

<body>
    <div class="container">
        <div class="header">
            <a href="/"><img src="/static/main/assets/logo.png"></a>
            <a href="/"><span>товары для рыбалки</span></a>
            <ul class="menu">
                <li><a href="/">Главная</a></li>
                <li><a href="#">Каталог</a></li>
                <li><a href="/contact/">Контакты</a></li>
            </ul>
        </div>
        <div class="content">
            <h1>Каталог</h1>
            <div class="div_flex">            
            <div class="div_item" ><a href="catalog/vobler.html"><img src="/static/main/assets/img_1_pre.jpg" alt=""><br>Воблер</a></div>
            <div class="div_item"><a href="catalog/fishing_line.html"><img src="/static/main/assets/img_2_pre.jpg" alt=""><br>Леска</a></div>
            <div class="div_item"><a href="catalog/Coil_is_spinning-free.html"><img src="/static/main/assets/img_3_pre.jpg" alt=""><br>Катушка безынерционная</a></div>
           </div> 
        </div>
        <div class="footer">
            <p>&copy; &laquo;Все права защищены&raquo;</p>
        </div>
    </div>
</body>

</html>
