{% extends 'server/master.html' %}

{% block page_title%}
контакты
{% endblock %}

{% block page_content%}

            <h1>контакты</h1>
            <h2>Напишите нам</h2>
            <form class="form_input" action="#" method="post">
                <label for="user_name">Ваше имя:</label>
                <input id="user_name" type="text" placeholder="Виктор">
                <br><br>
                <label>Email: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input class="input_mail" type="text" placeholder="mail@example.ru"></label>
                <br><br>
                <label>Тема: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="text" placeholder="тема обращения"></label>
                <br><br>
                <textarea name="" id="" cols="30" rows="10"></textarea> <br><br>
                <!--        Произвольные поля, которые на ваше усмотрение нужны на вашем сайте.-->
                <button type="reset">Сбросить</button>
                <button type="submit">Отправить</button>

            </form>
            <h2>Адрес</h2>
            <p>телефон: <a href="tel:+7916-123-45-67" class="none_line">+7916-123-45-67</a></p>
            <p>email: <a href="mailto:zakaz@rybmaz.ru" class="none_line">zakaz@rybmaz.ru</a></p>
            <p>адрес: г. Москва Волочаевская улица, 16</p>

            <!--    Контактный номер телефона интернет-магазина Адрес Email-->

            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A09ed95c0023628488df6af63d3146c59d3e34e49b51baa4c239ae70f0cc2a1d1&amp;width=400&amp;height=300&amp;lang=ru_RU&amp;scroll=true"></script>
{% endblock %}
